- if @bib and @bib.error

  = partial :bib_errors

- else

  %div#errors.alert.alert-danger 
    %span#error-heading
      %span.glyphicon.glyphicon-exclamation-sign 
      #{I18n.translate 'message.error.heading'}
    %div.pad_above
    - if @params.error_cod == '401'
        #{I18n.translate 'message.error.authentication'}
    - elsif @params.error_cod == '403'
        #{I18n.translate 'message.error.authorization'}
    - else
        #{I18n.translate 'message.error.other'}
      