-# record_form.haml

= partial :bib_errors

%form#record-form{ :action => APP_URL+action, :method => 'POST', :role => 'form'}

  %div
    %input{ :type => 'hidden', :name => 'oclc_symbol', :value => INSTITUTIONS[session[:registry_id].to_i]['symbol'] }

  %div
    %input{ :type => 'hidden', :name => 'oclc_number', :value => data['id'] }
    
  %div.form-group
    %label{ :for=>'title' } 
      %span.field_label
        #{I18n.translate 'record.field.title.prompt'}
    %span.example * #{I18n.translate 'record.field.required'}
    %div.hint #{I18n.translate 'record.field.title.help'}
    %div.pad_above
      %input.form-control{ :type => 'text', :id => 'title', :name => 'title', :value => @data['title_880'].nil? ? @data['title'] : @data['title_880'] }

  %div.form-group
    %label{ :for=>'author'}
      %span.field_label
        #{I18n.translate 'record.field.author.prompt'}
    %div.hint #{I18n.translate 'record.field.author.help'}
    %div.pad_above
      %input.form-control{ :type => 'text', :name => 'author', :value => @data['author'] }
      %label.radio-inline
        %input{ :type => 'radio', :name => 'author_field', :id => 'author_is_person', :value => '100', :checked => @data['author_is_person'] ? true : nil } 
        #{I18n.translate 'record.field.author.radio.person'}
      %label.radio-inline
        %input{ :type => 'radio', :name => 'author_field', :id => 'author_is_organization', :value => '110', :checked => @data['author_is_organization'] ? true : nil } 
        #{I18n.translate 'record.field.author.radio.organization'}
      
  %div.form-group
    %label{ :for=>'subject'} 
      %span.field_label
        #{I18n.translate 'record.field.subject.prompt'}
    %div.hint #{I18n.translate 'record.field.subject.help'}
    %span#exampleXtra
    %div#subjects
      - sn = 0
      - if @data['subject'].kind_of?(Array)
        - @data['subject'].each do |subject|
          - sn = sn + 1
          %div.row.pad_above{ :id => "row-elem-"+sn.to_s }
            %div.col-md-10.ui-widget
              %input.form-control.autosubject{ :type => 'text', :name => 'subject[]', :value => subject['a'] } 
            %div.col-md-2
              %btn.add.btn.btn-sm.btn-info{ :title => "#{I18n.translate 'record.field.subject.link.add.title'}", :id => 'addelem-'+sn.to_s } 
                %span.glyphicon.glyphicon-plus-sign
              - if sn > 1 then
                %btn.delete.btn.btn-sm.btn-warning{ :title => "#{I18n.translate 'record.field.subject.link.delete.title'}", :id => 'elem-'+sn.to_s } 
                  %span.glyphicon.glyphicon-minus-sign
      - else
        %div.row.pad_above{ :id => "row-elem-1" }
          %div.col-md-10
            %input.form-control.autosubject{ :type => 'text', :name => 'subject[]' } 
          %div.col-md-2  
            %btn.add.btn.btn-sm.btn-info{ :title => "#{I18n.translate 'record.field.subject.link.add.title'}", :id => 'addelem-1' } 
              %span.glyphicon.glyphicon-plus-sign   

  %div.well
    %div.row
      %div.col-md-12
        %span.field_label
          #{I18n.translate 'record.field.publisher-information.prompt'}
    %div.row
      %div.col-md-3
        %label{ :for=>'language'} #{I18n.translate 'record.field.publisher-country.prompt'}
        %div.hint #{I18n.translate 'record.field.publisher-country.help'}
      %div.col-md-3
        %label{ :for=>'publisher' } #{I18n.translate 'record.field.publisher-city.prompt'}
        %div.hint #{I18n.translate 'record.field.publisher-city.help'}
      %div.col-md-3
        %label{ :for=>'publisher' } #{I18n.translate 'record.field.publisher-name.prompt'}
        %div.hint #{I18n.translate 'record.field.publisher-name.help'}
      %div.col-md-3
        %label{ :for=>'publicationdate' } #{I18n.translate 'record.field.publicationdate.prompt'}
        %div.hint #{I18n.translate 'record.field.publicationdate.help'}
    %div.row
      %div.col-md-3
        %div.form-group
          %select.form-control{ :name => 'country_of_publication' }
            %option{ :value => 'xx ' } #{I18n.translate 'record.field.publisher-country.option'}
            - MARC_COUNTRIES.each do |country_hash|
              - option_selected = ""
              - if country_hash[0] == @data['country_of_publication'].strip
                - option_selected = " selected='selected'"
              = "<option value='"+country_hash[0]+"'"+option_selected+">"+country_hash[1]+"</option>"
      %div.col-md-3
        %div.form-group
          %input.form-control{ :type => 'text', :name => 'place_of_publication', :value => @data['place_of_publication'] }
      %div.col-md-3
        %div.form-group
          %input.form-control{ :type => 'text', :name => 'publisher', :value => @data['publisher'] }
      %div.col-md-3
        %div.form-group
          %input.form-control{ :type => 'text', :name => 'publication_date', :value => @data['publication_date'], :maxlength => "4"}

  %div.well
    %div.row
      %div.col-md-12
        %span.field_label
          #{I18n.translate 'record.field.other-details.prompt'}
    %div.row
      %div.col-md-4
        %label{ :for=>'language'} #{I18n.translate 'record.field.language.prompt'}
        %div.hint #{I18n.translate 'record.field.language.help'}
      %div.col-md-4
        %label{ :for=>'extent' } #{I18n.translate 'record.field.extent.prompt'}
        %div.hint #{I18n.translate 'record.field.extent.help'}
      %div.col-md-4
        %label{ :for=>'isbn'} #{I18n.translate 'record.field.isbn.prompt'}
        %div.hint #{I18n.translate 'record.field.isbn.help'}
    %div.row
      %div.col-md-4
        %div.form-group
          %select.form-control{ :name => 'language' }
            %option{ :value => 'und' } #{I18n.translate 'record.field.language.option'}
            - MARC_LANGUAGES.each do |language_hash|
              - option_selected = ""
              - if language_hash[0] == @data['language']
                - option_selected = " selected='selected'"
              = "<option value='"+language_hash[0]+"'"+option_selected+">"+language_hash[1]+"</option>"
      %div.col-md-4
        %div.form-group
          %input.form-control{ :type => 'text', :name => 'extent', :value => @data['extent'] }
      %div.col-md-4
        %div.form-group
          %input.form-control{ :type => 'text', :name => 'isbn', :value => @data['isbn'], :maxlength => "13" }
    
  %div.form-group
    %button.btn.btn-success{ :type => 'submit', $title => "#{@button_title}" } 
      %span.glyphicon.glyphicon-ok 
      #{@button_label}