-# Copyright 2016 OCLC
-#
-# Licensed under the Apache License, Version 2.0 (the "License");
-# you may not use this file except in compliance with the License.
-# You may obtain a copy of the License at
-#
-# http://www.apache.org/licenses/LICENSE-2.0
-#
-# Unless required by applicable law or agreed to in writing, software
-# distributed under the License is distributed on an "AS IS" BASIS,
-# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
-# See the License for the specific language governing permissions and
-# limitations under the License.

-# record.haml 

- @data = Hash.new
- @data['id'] = @bib.id
- @data['language'] = @bib.marc_record['008'].nil? ? '   ' : @bib.marc_record['008'].to_s[39,3]
- @data['country_of_publication'] = @bib.marc_record['008'].nil? ? '' : @bib.marc_record['008'].to_s[19,3]
- @data['isbn'] = @bib.marc_record['020'].nil? ? Array.new : @bib.marc_record.fields('020')
- @data['title'] = @bib.marc_record['245']['a'].nil? ? '' : @bib.marc_record['245']['a']
- @data['v880'] = @bib.marc_record['880'].nil? ? Array.new : @bib.marc_record.fields('880')
- @data['author'] = @bib.marc_record['100'].nil? ? Array.new : @bib.marc_record.fields('100')
- @data['author'] = @bib.marc_record['110'].nil? ? @data['author'] : @bib.marc_record.fields('110')
- @data['author_type'] = Array.new
- @data['author_type'] = @bib.marc_record['100'].nil? ? @data['author_type'] : @data['author_type'].push('person')
- @data['author_type'] = @bib.marc_record['110'].nil? ? @data['author_type'] : @data['author_type'].push('organization')
- @bib.marc_record.fields('700').each do |ae|
  - @data['author'].push(ae)
  - @data['author_type'].push('100')
- @bib.marc_record.fields('710').each do |ae|
  - @data['author'].push(ae)
  - @data['author_type'].push('110')
- @data['place_of_publication'] = @bib.marc_record['264'].nil? ? '' : @bib.marc_record['264']['a']
- @data['publisher'] = @bib.marc_record['264'].nil? ? '' : @bib.marc_record['264']['b']
- @data['publication_date'] = @bib.marc_record['264'].nil? ? '' : @bib.marc_record['264']['c']
- unless @bib.marc_record['260'].nil?
  - if @data['place_of_publication'].length == 0
    - @data['place_of_publication'] = @bib.marc_record['260']['a']
  - if @data['publisher'].length == 0
    - @data['publisher'] = @bib.marc_record['260']['b']
  - if @data['publication_date'].length == 0
    - @data['publication_date'] = @bib.marc_record['260']['c']
- @data['pd1'] = @bib.marc_record['008'].nil? ? '    ' : @bib.marc_record['008'].to_s[11,4]
- @data['extent'] = @bib.marc_record['300'].nil? ? '' : @bib.marc_record['300']['a']
- subject_tags = Array.new(['600','610','611','630','648','650','651','653','655'])
- @data['subject'] = Array.new
- @data['subject_string'] = Array.new
- @data['subject_raw'] = Array.new
- @data['subject_type'] = Array.new
- @data['subject_id'] = Array.new
- @data['subject_indicator'] = Array.new
- subject_tags.each do |st|
  - @bib.marc_record.fields(st).each do |s|
    - @data['subject'].push(s)
    - subject_string = ''
    - subject_raw = ''
    - subfield_codes = 'abcdefghijklmnopqrstuvwxyz'
    - subfield_delimiter = '--'
    - s.each do |sf| 
      - if subfield_codes.include?(sf.code)
        - if subject_string.length > 0
          - subject_string += subfield_delimiter
        - subject_string += sf.value
        - subject_raw += "$"+sf.code+sf.value
    - @data['subject_string'].push(subject_string)
    - @data['subject_raw'].push(subject_raw)
    - @data['subject_type'].push(st)
    - sid = s['0'].nil? ? "none" : s['0']
    - @data['subject_id'].push(sid)
    - @data['subject_indicator'].push(s.indicator1)
- @data['v880'].each do |v|
  - if v['6'][0..2] == '245'
    - @data['title'] = v['a']
  - elsif v['6'][0..2] == '100' || v['6'][0..2] == '700'
    - @data['author'] = @data['author'].unshift(v)
    - @data['author_type'] = @data['author_type'].unshift('person')
  - elsif v['6'][0..2] == '110' || v['6'][0..2] == '710'
    - @data['author'] = @data['author'].unshift(v)
    - @data['author_type'] = @data['author_type'].unshift('organization')
  - elsif v['6'][0..2] == '264'
    - if v['a']
      - @data['place_of_publication'] = v['a']
    - if v['b']
      - @data['publisher'] = v['b']
    - if v['c']
      - @data['publication_date'] = v['c']
  - elsif v['6'][0..2] == '300'
    - @data['extent'] = v['a']
  - elsif v['6'][0] == '6'
    - @data['subject'].push(v['a'])
    - @data['subject_string'].push(v['a'])
    - @data['subject_raw'].push("$a"+v['a'])
    - @data['subject_type'].push(v['6'][0..2])
    - @data['subject_id'].push('none')
    - @data['subject_indicator'].push(' ')
- @data['calendar'] = 'gregorian'
- unless @data['publication_date'].nil?
  - if @data['publication_date'].include?(' ')
    - @data['calendar'] = @data['publication_date'].split(' ')[1].downcase

- @button_title = I18n.translate 'link.update-submit.title'
- @button_label = I18n.translate 'link.update-submit.text'

- if is_app_created(@bib.id) and belongs_to_current_user?(@bib.marc_record, $institutions[session[:registry_id].to_i]['symbol'])

  %div#webkit_message

  %div.well
    %h3.record_label
      %span.glyphicon.glyphicon-pencil
      #{I18n.translate 'record.edit.heading'}
      =@bib.id

    = partial :record_form, locals: {action: "/record/update", data: @data }

- else
  
  %div.well
    %div.alert.alert-info
      %span.glyphicon.glyphicon-exclamation-sign
      #{I18n.translate 'message.info.edit.permission'}
    
    = partial :record_display, locals: {data: @data }

%div.row#marc_views
  %div.col-md-12
    %a#marc-view-link.btn.btn-default.btn-sm{ :href => '#', :onClick => '$("#marc-view").toggle(); $("html, body").animate({ scrollTop: $("#marc_views").offset().top}, 1000); return false;', :title => "#{I18n.translate 'link.view.marcrecord.title'}" }
      %span.glyphicon.glyphicon-list
      #{I18n.translate 'link.view.marcrecord.text'}
    %a#marc-worldcat-link.btn.btn-default.btn-sm{ :href => @bib.link, :target => 'blank', :title => "#{I18n.translate 'link.view.worldcat.title'}" }
      %span.glyphicon.glyphicon-globe
      #{I18n.translate 'link.view.worldcat.text'}
    %a#marc-xml-link.btn.btn-default.btn-sm{ :href => url('/record/'+@bib.id+'.xml'), :title => "#{I18n.translate 'link.view.marcxml.title'}" }
      %span.glyphicon.glyphicon-download
      #{I18n.translate 'link.view.marcxml.text'}
    %div.pad_above
      %pre#marc-view= @bib.marc_record
