-# record_display.haml

%table.table{ :id => "record_display" }

  %tr
    %td.field_display_label
      %div.pull-right
        #{I18n.translate 'record.field.oclcnumber.label'}
    %td{ :id => 'oclcnum' }
      = data['id']
      
  %tr
    %td.field_display_label
      %div.pull-right
        #{I18n.translate 'record.field.title.label'}
    %td{ :id => 'title' }
      = @data['title_880'].nil? ? @data['title'] : @data['title_880']
      
  - if @data['author'].kind_of?(Array)
    - @data['author'].each do |author|
      %tr
        %td.field_display_label
          %div.pull-right
            #{I18n.translate 'record.field.author.label'}
        %td{ :id => 'author' }
          - author.each do |s|
            #{s.value}

  %tr
    %td.field_display_label
      %div.pull-right
        #{I18n.translate 'record.field.publisher-country.label'}
    %td{ :id => 'country_of_publication' }
      = MARC_COUNTRIES[data['country_of_publication']]
      
  %tr
    %td.field_display_label
      %div.pull-right
        #{I18n.translate 'record.field.publisher-city.label'}
    %td{ :id => 'place_of_publication' }
      = data['place_of_publication']
      
  %tr
    %td.field_display_label
      %div.pull-right
        #{I18n.translate 'record.field.publisher-name.label'}
    %td{ :id => 'publisher' }
      = data['publisher']
      
  %tr
    %td.field_display_label
      %div.pull-right
        #{I18n.translate 'record.field.publicationdate.label'}
    %td{ :id => 'publication_date' }
      = data['publication_date']
      
  %tr
    %td.field_display_label
      %div.pull-right
        #{I18n.translate 'record.field.extent.label'}
    %td{ :id => 'extent' }
      = data['extent']
      
  %tr
    %td.field_display_label
      %div.pull-right
        #{I18n.translate 'record.field.language.label'}
    %td{ :id => 'language' }
      = MARC_LANGUAGES[data['language']]
      
  - if @data['subject'].kind_of?(Array)
    - @data['subject'].each do |subject|
      %tr
        %td.field_display_label
          %div.pull-right
            #{I18n.translate 'record.field.subject.label'}
        %td{ :id => 'subject' }
          - subject.each do |s|
            #{s.value}

  - if @data['isbn'].kind_of?(Array)
    - @data['isbn'].each do |isbn|
      %tr
        %td.field_display_label
          %div.pull-right
            #{I18n.translate 'record.field.isbn.label'}
        %td{ :id => 'isbn' }
          - isbn.each do |s|
            #{s.value}
      