-# record_form.haml

= partial :bib_errors

%form#record-form{ :action => APP_URL+action, :method => 'POST', :role => 'form'}

  %div
    %input{ :type => 'hidden', :name => 'oclc_symbol', :value => INSTITUTIONS[session[:registry_id].to_i]['symbol'] }

  %div
    %input{ :type => 'hidden', :name => 'oclc_number', :value => data['id'] }
    
  %div.form-group
    %label{ :for=>'title' } 
      %span.field_label
        #{I18n.translate 'record.field.title.prompt'}
    %span.example * #{I18n.translate 'record.field.required'}
    %div.pad_above
      %input.form-control{ :type => 'text', :id => 'title', :name => 'title', :value => @data['title_880'].nil? ? @data['title'] : @data['title_880'] }

  %div.form-group
    %label{ :for=>'author'}
      %span.field_label
        #{I18n.translate 'record.field.author.prompt'}
    %div.hint #{I18n.translate 'record.field.author.help'}
    %div#authors
      - an = 0
      - if @data['author'].length > 0
        - @data['author'].each do |author|
          %div.pad_above{ :id => "row_author_"+an.to_s }
            %div.row
              %div.col-md-10.ui-widget
                %input.form-control{ :type => 'text', :name => 'author[]', :value => author['a'] }
              %div.col-md-2
                %btn.add-author.btn.btn-sm.btn-info{ :title => "#{I18n.translate 'record.field.repeatable.add.title'}", :id => 'add_author_'+an.to_s } 
                  %span.glyphicon.glyphicon-plus-sign
                - if an > 0 then
                  %btn.delete.btn.btn-sm.btn-warning{ :title => "#{I18n.translate 'record.field.repeatable.delete.title'}", :id => 'author_'+an.to_s } 
                    %span.glyphicon.glyphicon-minus-sign
            %div.row{ :id => "author_type_"+an.to_s }
              %div.col-md-12
                %label.radio-inline
                  %input{ :type => 'radio', :name => 'author_field_'+an.to_s, :id => 'author_is_person_'+an.to_s, :value => '100', :checked => @data['author_is_person_'+an.to_s] ? true : nil } 
                  #{I18n.translate 'record.field.author.radio.person'}
                %label.radio-inline
                  %input{ :type => 'radio', :name => 'author_field_'+an.to_s, :id => 'author_is_organization_'+an.to_s, :value => '110', :checked => @data['author_is_organization_'+an.to_s] ? true : nil } 
                  #{I18n.translate 'record.field.author.radio.organization'}
          - an = an + 1
      - else
        %div.row.pad_above{ :id => "row_author_0" }
          %div.col-md-10
            %input.form-control.autosubject{ :type => 'text', :name => 'author[]' }
          %div.col-md-2  
            %btn.add-author.btn.btn-sm.btn-info{ :title => "#{I18n.translate 'record.field.repeatable.add.title'}", :id => 'add_author_0' } 
              %span.glyphicon.glyphicon-plus-sign
        %div.row{ :id => "author_type_0" }
          %div.col-md-12
            %label.radio-inline
              %input{ :type => 'radio', :name => 'author_field_0', :id => 'author_is_person_0', :value => '100', :checked => true } 
              #{I18n.translate 'record.field.author.radio.person'}
            %label.radio-inline
              %input{ :type => 'radio', :name => 'author_field_0', :id => 'author_is_organization_0', :value => '110'} 
              #{I18n.translate 'record.field.author.radio.organization'}
              
  %div.form-group
    %label{ :for=>'subject'} 
      %span.field_label
        #{I18n.translate 'record.field.subject.prompt'}
    %div.hint #{I18n.translate 'record.field.subject.help'}
    %span#exampleXtra
    %div#subjects
      - sn = 0
      - if @data['subject'].length > 0
        - @data['subject'].each do |subject|
          %div.row.pad_above{ :id => "row_subject_"+sn.to_s }
            %div.col-md-10.ui-widget
              %input.form-control.autosubject{ :type => 'text', :name => 'subject[]', :id => 'subject_entry_'+sn.to_s, :value => subject['a'] } 
              %input{ :type => 'hidden', :name => 'subject_type[]', :id => 'subject_entry_'+sn.to_s+'_type', :value => @data['subject_type'][sn] }
              %input{ :type => 'hidden', :name => 'subject_id[]', :id => 'subject_entry_'+sn.to_s+'_id', :value => @data['subject_id'][sn] }
            %div.col-md-2
              %btn.add-subject.btn.btn-sm.btn-info{ :title => "#{I18n.translate 'record.field.repeatable.add.title'}", :id => 'add_subject_'+sn.to_s } 
                %span.glyphicon.glyphicon-plus-sign
              - if sn > 0 then
                %btn.delete.btn.btn-sm.btn-warning{ :title => "#{I18n.translate 'record.field.repeatable.delete.title'}", :id => 'subject_'+sn.to_s } 
                  %span.glyphicon.glyphicon-minus-sign
          - sn = sn + 1
      - else
        %div.row.pad_above{ :id => "row_subject_0" }
          %div.col-md-10
            %input.form-control.autosubject{ :type => 'text', :name => 'subject[]' }
            %input{ :type => 'hidden', :name => 'subject_type[]', :id => 'subject_entry_'+sn.to_s+'_type', :value => '653'}
            %input{ :type => 'hidden', :name => 'subject_id[]', :id => 'subject_entry_'+sn.to_s+'_id', :value => 'none' }
          %div.col-md-2  
            %btn.add-subject.btn.btn-sm.btn-info{ :title => "#{I18n.translate 'record.field.repeatable.add.title'}", :id => 'add_subject_0' } 
              %span.glyphicon.glyphicon-plus-sign

  %div.well
    %div.row
      %div.col-md-12
        %span.field_label
          #{I18n.translate 'record.field.publisher-information.prompt'}
    %div.row.pad_above
      %div.col-md-3
        %label{ :for=>'language'} #{I18n.translate 'record.field.publisher-country.prompt'}
      %div.col-md-3
        %label{ :for=>'publisher' } #{I18n.translate 'record.field.publisher-city.prompt'}
      %div.col-md-3
        %label{ :for=>'publisher' } #{I18n.translate 'record.field.publisher-name.prompt'}
      %div.col-md-3
        %label{ :for=>'publicationdate' } #{I18n.translate 'record.field.publicationdate.prompt'}
    %div.row
      %div.col-md-3
        %div.hint #{I18n.translate 'record.field.publisher-country.help'}
      %div.col-md-3
        %div.hint #{I18n.translate 'record.field.publisher-city.help'}
      %div.col-md-3
        %div.hint #{I18n.translate 'record.field.publisher-name.help'}
      %div.col-md-3
        %div.hint #{I18n.translate 'record.field.publicationdate.help'}
    %div.row
      %div.col-md-3
        %div.form-group
          %select.form-control{ :name => 'country_of_publication' }
            %option{ :value => 'xx ' } #{I18n.translate 'record.field.publisher-country.option'}
            - MARC_COUNTRIES.each do |country_hash|
              - option_selected = ""
              - if country_hash[0] == @data['country_of_publication'].strip
                - option_selected = " selected='selected'"
              = "<option value='"+country_hash[0]+"'"+option_selected+">"+country_hash[1]+"</option>"
      %div.col-md-3
        %div.form-group
          %input.form-control{ :type => 'text', :name => 'place_of_publication', :value => @data['place_of_publication'] }
      %div.col-md-3
        %div.form-group
          %input.form-control{ :type => 'text', :name => 'publisher', :value => @data['publisher'] }
      %div.col-md-3
        %div.form-group
          %input.form-control{ :type => 'text', :name => 'publication_date', :value => @data['publication_date'], :maxlength => "4"}

  %div.well
    %div.row
      %div.col-md-12
        %span.field_label
          #{I18n.translate 'record.field.other-details.prompt'}
    %div.row.pad_above
      %div.col-md-4
        %label{ :for=>'language'} #{I18n.translate 'record.field.language.prompt'}
      %div.col-md-4
        %label{ :for=>'extent' } #{I18n.translate 'record.field.extent.prompt'}
      %div.col-md-4
        %label{ :for=>'isbn'} #{I18n.translate 'record.field.isbn.prompt'}
    %div.row
      %div.col-md-4
        %div.hint #{I18n.translate 'record.field.language.help'}
      %div.col-md-4
        %div.hint #{I18n.translate 'record.field.extent.help'}
      %div.col-md-4
        %div.hint #{I18n.translate 'record.field.isbn.help'}
    %div.row
      %div.col-md-4
        %div.form-group
          %select.form-control{ :name => 'language' }
            %option{ :value => 'und' } #{I18n.translate 'record.field.language.option'}
            - MARC_LANGUAGES.each do |language_hash|
              - option_selected = ""
              - if language_hash[0] == @data['language']
                - option_selected = " selected='selected'"
              = "<option value='"+language_hash[0]+"'"+option_selected+">"+language_hash[1]+"</option>"
      %div.col-md-4
        %div.form-group
          %input.form-control{ :type => 'text', :name => 'extent', :value => @data['extent'] }
      %div.col-md-4
        %div.form-group#isbns
          - isn = 0
          - if @data['isbn'].length > 0
            - @data['isbn'].each do |isbn|
              %div.row{ :id => "row_isbn_"+isn.to_s }
                %div.col-md-8.ui-widget
                  %input.form-control{ :type => 'text', :name => 'isbn[]', :value => isbn['a'], :maxlength => "13"} 
                %div.col-md-4
                  %btn.add-isbn.btn.btn-sm.btn-info{ :title => "#{I18n.translate 'record.field.repeatable.add.title'}", :id => 'add_isbn_'+isn.to_s } 
                    %span.glyphicon.glyphicon-plus-sign
                  - if isn > 0 then
                    %btn.delete.btn.btn-sm.btn-warning{ :title => "#{I18n.translate 'record.field.repeatable.delete.title'}", :id => 'isbn_'+isn.to_s } 
                      %span.glyphicon.glyphicon-minus-sign
              - isn = isn + 1
          - else
            %div.row{ :id => "row_isbn_0" }
              %div.col-md-8
                %input.form-control{ :type => 'text', :name => 'isbn[]', :maxlength => "13" } 
              %div.col-md-4  
                %btn.add-isbn.btn.btn-sm.btn-info{ :title => "#{I18n.translate 'record.field.repeatable.add.title'}", :id => 'add_isbn_0' } 
                  %span.glyphicon.glyphicon-plus-sign
    
  %div.form-group
    %button.btn.btn-success{ :type => 'submit', $title => "#{@button_title}" } 
      %span.glyphicon.glyphicon-ok 
      #{@button_label}