-# record_form.haml

= partial :bib_errors

%form#record-form{ :action => APP_URL+action, :method => 'POST', :role => 'form'}

  %div
    %input{ :type => 'hidden', :name => 'oclc_symbol', :value => INSTITUTIONS[session[:registry_id].to_i]['symbol'] }

  %div
    %input{ :type => 'hidden', :name => 'oclc_number', :value => data['id'] }
    
  %div.form-group
    %label{ :for=>'title' } What is the title?
    %span.hint This is the only required field, the others are optional.
    %input.form-control{ :type => 'text', :id => 'title', :name => 'title', :value => @data['title'] }

  %div.form-group
    %label{ :for=>'author'} Who is the author?
    %span.hint If the author is a person, enter the last name first, for example "Smith, Jane".  If the book has multiple authors, enter just the first author.
    %input.form-control{ :type => 'text', :name => 'author', :value => @data['author'] }
    %label.radio-inline
      %input{ :type => 'radio', :name => 'author_field', :id => 'author_is_person', :value => '100', :checked => @data['author_is_person'] ? true : nil } The author is a person
    %label.radio-inline
      %input{ :type => 'radio', :name => 'author_field', :id => 'author_is_organization', :value => '110', :checked => @data['author_is_organization'] ? true : nil } The author is an organization
      
  %div.form-group
    %label{ :for=>'language'} What is the language of the book?
    %select.form-control{ :name => 'language' }
      %option{ :value => 'und' } Select the language of the book from this list
      - MARC_LANGUAGES.each do |language_hash|
        = "<option value='"+language_hash[0]+"'"
        - if language_hash[0].to_s == @data['language']
          = " selected='selected'"
        = ">"+language_hash[1]+"</option>"

  %div.form-group
    %label{ :for=>'publisher' } Where was the book published?
    %span.hint Please include the city and state/province, if known. For example "Washington, D.C.", "Paris", "Victoria, B.C.", etc.
    %input.form-control{ :type => 'text', :name => 'place_of_publication', :value => @data['place_of_publication'] }
    
  %div.form-group
    %label{ :for=>'publisher' } Who is the publisher?
    %span.hint For example "HarperCollins", "Springer-Verlag", etc.
    %input.form-control{ :type => 'text', :name => 'publisher', :value => @data['publisher'] }
      
  %div.form-group
    %label{ :for=>'publicationdate' } When was the book published?
    %span.hint Just the year will do.
    %input.form-control{ :type => 'text', :name => 'publication_date', :value => @data['publication_date'], :maxlength => "4"}

  %div.form-group
    %label{ :for=>'extent' } How many pages or volumes?
    %span.hint Please include the type of dimension, for example "245 p." (for pages) or "3 v." (for volumes)
    %input.form-control{ :type => 'text', :name => 'extent', :value => @data['extent'] }
      
  %div.form-group
    %label{ :for=>'subject'} What is the book about?  
    %span.hint Use general topical keywords, for example "Nuclear Physics" or "Agriculture".  When entering more than one topic, please separate each topic with a semi-colon.
    %input.form-control{ :type => 'text', :name => 'subject', :value => @data['subject'] }
    
  %div.form-group
    %label{ :for=>'subject'} Does the book have an ISBN number?
    %span.hint If the book has an ISBN number please enter it here.  For example "1406738859".
    %input.form-control{ :type => 'text', :name => 'isbn', :value => @data['isbn'] }
    
  %div.form-group
    %button.btn.btn-success{ :type => 'submit' } 
      %span.glyphicon.glyphicon-ok 
      #{@button_label}