!!! 5
%html
  %head
    %title
      LBMC Pilot
      - if @data
        = " - Record #{@data['id']} - "
        - if @data['title_880'].nil?
          = @data['title']
        - else
          = @data['title_880']
    %meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1.0" }
    %link{ :rel=>"icon", :href=> APP_URL+"/images/favicon.ico", :type=>"image/x-icon" }
    %link{ :rel=>"shortcut icon", :href=> APP_URL+"/images/favicon.ico", :type=>"image/x-icon" }
    %link{ :href=>"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel=>"stylesheet" }
    %link{ :href=>APP_URL+"/css/layout.css", :rel=>"stylesheet" }
    %script{:src=>"//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:src=>"//code.jquery.com/jquery-1.11.0.min.js"}
    %script{:src=>"//code.jquery.com/jquery-migrate-1.2.1.min.js"}
    %script{:src=>"//code.jquery.com/ui/1.11.1/jquery-ui.min.js"}
    %link{ :href=>APP_URL+"/css/jquery-ui.css", :rel=>"stylesheet" }
    %script{:src=>APP_URL+"/js/app.js"}

  %body
    %div.container
      - unless session[:token].nil? or session[:token].expired?
        %div.row
          %div.col-md-6
            %div#logo_subtext
              %h3 Low Barrier Metadata Creation
          %div.col-md-6
            %div.pull-right.pad_above
              %a#home.btn.btn-sm.btn-primary{ :href => APP_URL, :title => "Visit the LBMC Pilot home page" } 
                %span.glyphicon.glyphicon-home
                LBMC Home
              %a#create.btn.btn-sm.btn-primary{ :href => APP_URL+"/record/new", :title => "Start creating a new record" } 
                %span.glyphicon.glyphicon-pencil
                Create a Record
              %a#logoff.btn.btn-sm.btn-primary{ :href => APP_URL+"/logoff", :title => "End your session" } 
                %span.glyphicon.glyphicon-off
                Logoff
      %div.row
        %div.col-xs-12.col-sm-4.col-md-4
          %h1#logo_text
            %a{ :href => APP_URL+"/", :title => "Visit the LBMC Pilot home page" } LBMC Pilot
        %div.col-xs-12.col-sm-8.col-md-8
          %div.pull-right.pad_above
            - unless session[:token].nil? or session[:token].expired?
              %span.header_institution_name
                = INSTITUTIONS[session[:registry_id].to_i]['name']
              %img.logo_small{ :src => APP_URL+"/images/#{INSTITUTIONS[session[:registry_id].to_i]['symbol']}.jpg" } 

      %div.row
        %div.col-xs-12.col-sm-12.col-md-12
          = yield 
      
      %div.row
        %div.col-xs-12.col-sm-12.col-md-12
          %div.pull-right
            %a{ :href => "http://worldcat.org", :title => "Some library data on this site is provided by WorldCat, the world's largest library catalog [WorldCat.org]" }
              %img{ :src=>"https://www.oclc.org/content/dam/developer-network/badges/wc_badge1.png", :class=>"powered_by_worldcat", :alt=>"Some library data on this site is provided by WorldCat, the world's largest library catalog [WorldCat.org]" }
          
        
    %script{:src=>"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}
    
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-54984853-1', 'auto');
      ga('send', 'pageview');

