!!! 5

%html
  %head
    %title
      = "#{@title} - " if @title
      LBMC Pilot
    %link{ :rel=>"icon", :href=>"/images/favicon.ico", :type=>"image/x-icon" }
    %link{ :rel=>"shortcut icon", :href=>"/images/favicon.ico", :type=>"image/x-icon" }
    %link{ :href=>"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel=>"stylesheet" }
    %link{ :href=>"/css/layout.css", :rel=>"stylesheet" }
  %body
    %div.container
      %div.row
        %div{ :class=>"col-xs-12 col-sm-4 col-md-4" }
          %h1
            %a{ :href => "/", :title => "Visit the home page" } LBMC Pilot
        %div{ :class=>"col-xs-12 col-sm-8 col-md-8" }
          %div{ :class=>"pull-right" }
            - unless session[:token].nil? or session[:token].expired?
              #{INSTITUTIONS[session[:registry_id].to_i]['name']}
              %img{ :src => url("/images/#{INSTITUTIONS[session[:registry_id].to_i]['symbol']}.jpg"), :class => "logo_small" } 
              %br
              %div{ :class=>"pull-right" }
                %a{ :href => "/logoff", :title => "End your session" } Logoff

      %div.row
        %div{ :class=>"col-xs-12 col-sm-12 col-md-12" }
          = yield 
      
      %div.row
        %div{ :class=>"col-xs-12 col-sm-12 col-md-12" }
          %div{ :class=>"pull-right" }
            %a{ :href => "http://worldcat.org", :title => "Some library data on this site is provided by WorldCat, the world's largest library catalog [WorldCat.org]" }
              %img{ :src=>"http://www.oclc.org/content/dam/developer-network/badges/wc_badge1.png", :width=>88, :height=>31, :alt=>"Some library data on this site is provided by WorldCat, the world's largest library catalog [WorldCat.org]" }
          
        
    %script{:src=>"//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:src=>"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}

