!!! 5
%html
  %head
    %title
      = "#{@title} - " if @title
      LBMC Pilot
    %link{ :rel=>"icon", :href=>"/images/favicon.ico", :type=>"image/x-icon" }
    %link{ :rel=>"shortcut icon", :href=>"/images/favicon.ico", :type=>"image/x-icon" }
    %link{ :href=>"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel=>"stylesheet" }
    %link{ :href=>"/css/layout.css", :rel=>"stylesheet" }
    %script{:src=>"//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"}
    %script{:src=>"/js/app.js"}
  %body
    %div.container
      - unless session[:token].nil? or session[:token].expired?
        %div.row
          %div.col-md-12
            %div.pull-right.pad_above
              %a#home.btn.btn-sm.btn-primary{ :href => "/", :title => "Visit the LBMC Pilot home page" } 
                %span.glyphicon.glyphicon-home
                LBMC Home
              %a#logoff.btn.btn-sm.btn-primary{ :href => "/logoff", :title => "End your session" } 
                %span.glyphicon.glyphicon-off
                Logoff
      %div.row
        %div.col-xs-12.col-sm-4.col-md-4
          %h1
            %a{ :href => "/", :title => "Visit the LBMC Pilot home page" } LBMC Pilot
        %div.col-xs-12.col-sm-8.col-md-8
          %div.pull-right.pad_above
            - unless session[:token].nil? or session[:token].expired?
              %span.header_institution_name
                = INSTITUTIONS[session[:registry_id].to_i]['name']
              %img.logo_small{ :src => url("/images/#{INSTITUTIONS[session[:registry_id].to_i]['symbol']}.jpg") } 


      %div.row
        %div.col-xs-12.col-sm-12.col-md-12
          = yield 
      
      %div.row
        %div.col-xs-12.col-sm-12.col-md-12
          %div.pull-right
            %a{ :href => "http://worldcat.org", :title => "Some library data on this site is provided by WorldCat, the world's largest library catalog [WorldCat.org]" }
              %img{ :src=>"http://www.oclc.org/content/dam/developer-network/badges/wc_badge1.png", :class=>"powered_by_worldcat", :alt=>"Some library data on this site is provided by WorldCat, the world's largest library catalog [WorldCat.org]" }
          
        
    %script{:src=>"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"}

